.products-collection{
  display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  	text-align: center;
}
.products-collection li{
  width: 225px;
    margin-bottom: 15px;
    display: inline-block;
    flex-direction: column;
  margin-right: calc((100% - 901px) / 3);}
  
.product-list-wrapper .shelf-header{
  border: none;
}

.product-list-wrapper .search-shelf-wrapper {
  max-width: 100% !important;
}

.product-list-wrapper .shelf-content .main {
  margin: auto;
}
.banner-ac-toys{
  margin: 30px 0;
  overflow: hidden;
}
.toy-brand{
  display: inline-block;
}
.landing-jugueteria .product-list-wrapper .search-shelf-wrapper .search-list-filters-wrapper {
    margin-top: 8px;
}
.search-filter img{
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  height: 20px;
}
.bx-controls-direction{
  display: none;
}
.bx-controls{
  margin-top: 10px;
  
}
.toy-brand {
  cursor: pointer;
}
.toy-brand:hover{
  -webkit-filter: opacity(.5);
    filter: opacity(.5);
}

@media screen and (min-width: 1440px){
  .search-list-filters{
    width: 1340px;
  }
}
@media screen and (min-width: 761px){
  .product-list-wrapper .shelf-content .product-shelf>ul>li{
	width: 230px;
  	margin: 10px !important;
  }
}
@media screen and (max-width: 760px){

  .container-brand-toys{
    margin: 20px 0;
  }

}